* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* General Styles ----------------------------------------------------------------------------------------------------- */

body {

    display: flex;
    flex-direction: column;
    background-color: #f1e5e5;
    font-family: Arial, Helvetica, sans-serif;
    border: none;
    height: 100vh;

}


/* Header -------------------------------------------------------------------------------------------------------------- */

#header-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 20px 20px 0px;
    margin-bottom: 30px;
    background-color: #242323;
    justify-content: space-between;
}


/* buttons ------------------------------------------------------------------------------------------------------------- */

#buttons-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    margin: auto;
    position: absolute;
    right: 1%;

}

#logo {
    width: 140px;
    height: 50px;
    padding-left: 10px;
}

#how-to-play,
#reset,
#mode,
#themes,
#statistics-button {
    background-color: #242323;
    font-size: 120%;
    border: none;
    height: 32px;
    width: 28px

}

#how-to-play i,
#reset i,
#mode i,
#themes i,
#statistics-button i {
    color: #ffff;
}

#how-to-play i:hover,
#reset i:hover,
#mode i:hover,
#themes i:hover,
#statistics-button i:hover, #statistics-close i:hover, #close:hover {

    transform: scale(1.2);
}

/* Mode Button */
/* Flip animation for mode icon to toggle theme */

#mode .rotate {
    animation: rotate 500ms ease-in-out;
    ;
}

@keyframes rotate {
    0% {
        transform: rotateX(0deg);
    }

    50% {
        transform: rotateX(90deg);
    }

    100% {
        transform: rotateX(180deg);
    }
}

/* How To Play -------------------------------------------------------------------------------------------------------- */

#htp {
    font-size: 200%;
}

#top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#close {
    position: absolute;
    top: 3%;
    right: 3%;
    background-color: #020202;
    border: 2px solid black;
    width: 25px;
    height: 25px;
    font-size: 100%;
    font-weight: 800;
    color: rgb(249, 249, 249);
    margin-left: 10px;
    border-radius: 25%;
    padding: 0 5px;
}

em,
li {
    font-size: 120%;
}

li {
    display: list-item;
    list-style-position: outside;
    list-style-type: disc;
    line-height: 25px;
}

#weary p,
#pills p,
#vague p {
    border: 2px solid #242323;
    border-left: 2px solid #242323;
    border-right: 2px solid #242323;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    margin: 5px 2px;
    font-weight: 600;
}

#weary,
#pills,
#vague {
    max-height: 30px;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

#W,
#I {
    color: #fff;
    background-color: #058425;
    border: none;
}

#I {
    color: #fff;
    background-color: #ceb40f;
    border: none;
}


#vague p {
    color: #fff;
    background-color: #494646;
    border: none;
}

button:hover {
    cursor: pointer;
}

#htp-container {
    max-width: fit-content;
    max-height: fit-content;
    padding: 30px;
    color: #fff;
}

#htp-body {
    margin: auto;
    display: flex;
    max-width: 0x;
    max-height: 0px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    z-index: 2000;
    position: fixed;
    transform: translateX(-50%);
    top: 20vh;
    left: 49.5vw;
    background-color: #854389;
    overflow: auto;
    transition: max-height 1s ease-out, opacity 1s ease-out;
    box-shadow: 5px 5px 5px #020202;
    border-radius: 10px;

}

#htp-body[data-display-container="false"] {
    opacity: 0;

}


#htp-body[data-display-container="true"] {
    display: block;
    transform: translate(-50%);
    max-height: 500px;
    max-width: 750px;

}

/* Color themes for how to play ---------------------------------------------------------------------------------------- */

.orange #htp-body {
    background-color: #df7a47;

}

.orange.dark-mode #htp-body {
    background-color: #8f3001;

}

.blue #htp-body {
    background-color: #5096cf;

}

.blue.dark-mode #htp-body {
    background-color: rgb(1, 30, 54);

}

.red #htp-body {
    background-color: #ca2951;

}

.red.dark-mode #htp-body {
    background-color: #70021d;

}

/* Themes Menu --------------------------------------------------------------------------------------------------------- */

#themes-container {
    position: absolute;
    top: 100%;
    right: 15%;
    width: 200px;
    height: 200px;
    z-index: 1000;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background-color: #242323;
    border-radius: 10%;
}

#close-button {
    position: absolute;
    right: 5%;
    top: 5%;
    font-weight: bold;
    padding: 2px;
    color: white;
    background-color: #272626;
    font-size: 25px;
    border: none;
}

#themes-container p {
    color: white;
    margin-top: 10px;
    font-size: 150%;
}

#light-themes {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    width: 130px;

}

.colors {
    width: 30px;
    height: 30px;
    margin: 10px;
    border: 2px solid rgb(254, 254, 255);
    margin-bottom: 20px;
}

.colors:hover,
#close-button:hover {
    transform: scale(1.2);
    cursor: pointer;
}

/* colors button -------------------------------------------------------------------------------------------------------- */

#purple {

    background-color: #854389;
}

#orange {

    background-color: #df7a47;
}

#blue {

    background-color: #5096cf;

}

#red {

    background-color: #ca2951;
}


/* Statistics ---------------------------------------------------------------------------------------------------------- */

#statistics-parent-container {

    position: absolute;
    background-color: #272626;
    color: #fff;
    display: flex;
    padding: 40px;
    height: 350px;
    width: 250px;
    place-items: center;
    flex-direction: column;
    z-index: 400;
    margin: auto;
    top: 25%;
    left: 49.5vw;
    transform: translate(-50%) scale(1);
    border-radius: 2%;
    box-shadow: 5px 5px 5px #0b0b0b;
    transition: height 0.5s ease-out, opacity 1s ease-out;
    opacity: 1;

}


#statistics-logo img {
    width: 150px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    margin-bottom: 20px;
}

#statistics-container {

    max-height: fit-content;
    max-width: fit-content;

}

#statistics {
    border: 2px solid #fff;
    padding: 15px 25px 15px 25px;
}

#statistics-container p {
    line-height: 30px;
    font-weight: 500;
    min-width: 120px;
}

#statistics-container h3 {
    margin-bottom: 10px;
    text-align: center;
    padding-bottom: 10px;
    border-bottom: 2px solid #fff;
}

#statistics-close {
    position: absolute;
    top: 1vh;
    right: 4%;
    background-color: #272626;
    border: none;
    color: #fff;
    padding: 3px;
    font-size: 25px;
    height: 30px;
    width: 30px;
}

/* Statistics content */

#total-games,
#win-percentage,
#games-won,
#games-lost {
    font-weight: 600;
}

/* Guess Grid ---------------------------------------------------------------------------------------------------------- */

#guess-grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 350px;
    max-height: 350px;
    margin: auto;
    padding: 0px 5px;
    margin-top: 30px;

}

.tile {
    border-radius: 10%;
    margin: 2px;
    height: 15vw;
    width: 15vw;
    max-width: 58px;
    max-height: 58px;
    font-size: 30px;
    text-align: center;
    background-color: #854389;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
    font-size: 2em;
    color: white;
    text-transform: uppercase;
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    user-select: none;
    transition: transform 250ms linear;
}

/* Colors themes for tiles ---------------------------------------------------------------------------------------------- */

.purple .tile {
    background-color: #854389;
}

.purple.dark-mode .tile {
    background-color: #320235;
}

.orange .tile {
    background-color: #df7a47;
}

.orange.dark-mode .tile {
    background-color: #8f3001;
}

.blue .tile {
    background-color: #5096cf;
}

.blue.dark-mode .tile {
    background-color: rgb(1, 30, 54);
}

.red .tile {
    background-color: #ca2951;
}

.red.dark-mode .tile {
    background-color: #70021d;
}


/* Colors for tiles according to correctness --------------------------------------------------------------------------- */

.purple .tile[data-state="active"],
.orange .tile[data-state="active"],
.blue .tile[data-state="active"],
.red .tile[data-state="active"],
.dark-mode .tile[data-state="active"],
.tile[data-state="active"] {
    border-color: rgb(250, 248, 248);
    border: 1px solid;
}


.purple .tile[data-state="wrong"],
.orange .tile[data-state="wrong"],
.blue .tile[data-state="wrong"],
.red .tile[data-state="wrong"],
.dark-mode .tile[data-state="wrong"],
.tile[data-state="wrong"] {
    border-color: none;
    background-color: #494646;
}

.purple .tile[data-state="wrong-location"],
.orange .tile[data-state="wrong-location"],
.blue .tile[data-state="wrong-location"],
.red .tile[data-state="wrong-location"],
.dark-mode .tile[data-state="wrong-location"],
.tile[data-state="wrong-location"] {
    border-color: none;
    background-color: #ceb40f;
}

.purple .tile[data-state="correct"],
.orange .tile[data-state="correct"],
.blue .tile[data-state="correct"],
.red .tile[data-state="correct"],
.dark-mode .tile[data-state="correct"],
.tile[data-state="correct"] {
    border-color: none;
    background-color: #058425;
}

/* Shake animation effect ---------------------------------------------------------------------------------------------- */
/* Learnt this animation code from Web Dev Simplified Youtube Tutorial */

.tile.shake {
    animation: shake 250ms ease-in-out;
}

@keyframes shake {
    10% {
        transform: translateX(-5%);
    }

    30% {
        transform: translateX(5%);
    }

    50% {
        transform: translateX(-7.5%);
    }

    70% {
        transform: translateX(7.5%);
    }

    90% {
        transform: translateX(-5%);
    }

    100% {
        transform: translateX(0%);
    }
}

/* Dance animation effect ----------------------------------------------------------------------------------------------- */
/* Learnt this animation code from Web Dev Simplified Youtube Tutorial */

.tile.dance {
    animation: dance 500ms ease-in-out;
}

@keyframes dance {
    20% {
        transform: translateY(-50%);
    }

    40% {
        transform: translateY(5%);
    }

    60% {
        transform: translateY(-25%);
    }

    80% {
        transform: translateY(2.5%);
    }

    90% {
        transform: translateY(-5%);
    }

    100% {
        transform: translateY(0);
    }
}

/* Flip animation effect ----------------------------------------------------------------------------------------------- */

.tile.flip {
    transform: rotateX(90deg);
}

/* Keyboard ------------------------------------------------------------------------------------------------------------- */

#keyboard-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    margin-bottom: 30px;
}

.key {
    width: 7.5vw;
    height: 50px;
    margin: 1px;
    max-width: 43px;
    border-radius: 15%;
    box-shadow: 1px 1px #494646;
    cursor: pointer;
    font-weight: 600;
}

.key-large {
    width: 13vw;
    max-width: 65px;
    height: 50px;
}

.key:hover,
.key:focus,
.dark-mode .key:hover,
.dark-mode .key:focus {
    background-color: #a3a0a0;
    color: #fff;
}

.dark-mode .key.wrong,
.key.wrong {
    background-color: #898383;
    color: #fff;

}

.dark-mode .key.wrong-location,
.key.wrong-location {
    background-color: #ceb40f;
    color: #fff;
}

.dark-mode .key.correct,
.key.correct {
    background-color: #058425;
    color: #fff;
}

/* Alert Container ----------------------------------------------------------------------------------------------------- */
/* Learnt this code from Web Dev Simplified Youtube Tutorial */

.alert-container {
    position: fixed;
    transform: translateX(-50%);
    z-index: 1;
    top: 25vh;
    left: 49.5vw;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.alert {
    background-color: #d9cdcd;
    padding: .75em;
    pointer-events: none;
    border-radius: .25em;
    opacity: 1;
    margin-bottom: 10px;
    transition: opacity 500ms ease-in-out;
}

.alert:last-child {
    margin-bottom: 0;
}

.alert.hide {
    opacity: 0;
}


/* hidden class ------------------------------------------------------------------------------------------------------- */

#mode .hidden,
#themes-container.hidden, #overlay.hidden, #transparent-overlay.hidden, #rules-box-overlay {
    display: none;
}

#statistics-parent-container.hidden {
    opacity: 0;
    height: 0px;
    
}


/* Overlay class ------------------------------------------------------------------------------------------------------- */


#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 100; 
}

#rules-box-overlay {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 300; 

}

#transparent-overlay {

    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%; 
    opacity: 0;
    z-index: 999; 


}


/* Dark Mode class ------------------------------------------------------------------------------------------------------------ */

.dark-mode #htp-body {

    background-color: #320235;
    box-shadow: 5px 5px 5px #1c1c1c;

}

.dark-mode {
    background-color: #020202;
}

.dark-mode .tile {
    background-color: #320235;
}

.dark-mode .key {
    background-color: #242323;
    color: #e7e7e7;
}

footer {
    background-color: #242323;
    color: white;
    width: 100%;
    text-align: center;
    margin-top: auto;
    padding: 5px;
}


/* media query for screens larger than 520px --------------------------------------------------------------------------- */


@media screen and (min-width: 320px) {

#how-to-play,
    #reset,
    #mode,
    #themes,
    #statistics-button {
        font-size: 170%;
        height: 35px;
        width: 35px;
    }

}

@media screen and (min-width: 520px) {

    #how-to-play,
    #reset,
    #mode,
    #themes,
    #statistics-button {
        font-size: 210%;
        padding: 10px;
        height: 45px;
        width: 50px;
    }

    #logo {
        width: 250px;
        height: 75px;
    }

}