* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

/* General Styles */

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #f1e5e5;
}

/* Game Board Grid */

#game-board {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    max-width: 350px;
    max-height: 350px;
    margin: auto;
    padding: 0px 5px ;

}

.grid {
    border: 1px solid rgb(249, 246, 246);
    border-radius: 10%;
    margin: 2px;
    height: 15vw;
    width: 15vw;
    max-width: 58px;
    max-height: 58px;
    font-size: 30px;
    text-align: center;
    background-color: #854389;
    /* background-color: #290026; */
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

/* Header */

#header-container {
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 30px 20px 20px 0px;
    margin-bottom: 30px;
    background-color: #242323;
}

#buttons-container {
    display: flex;
    flex-direction: row;
    max-width: 100%;
    align-items: center;
    justify-content: flex-end;
    margin: auto;
    position: absolute;
    right: 0%;

}

h1 img {
    width: 150px;
    height: 60px;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}

#how-to-play, #reset, #mode {
    background-color: #242323;
    font-size: 170%;
    padding: 7px;
    border: none;

}

#how-to-play i, #reset i, #mode i {
    color: #ffff;
}

/* Keyboard */

#keyboard-area {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 20px;
}

.key {
    width: 7.5vw;
    height: 50px;
    margin: 1px;
    max-width: 43px;
    border-radius: 15%;
    box-shadow: 1px 1px #494646;
}

.key-large {
    width: 13vw;
    max-width: 65px;
    height: 50px;
}

/* How To Play */

#htp {
    font-size: 200%;
}

#top {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

}

#close {
    background-color: #020202;
    border: 2px solid black;
    width: 25px;
    height: 25px;
    font-size: 100%;
    font-weight: 800;
    color: black;
    margin-left: 10px;
    border-radius: 15%;

}

#top a {
    text-decoration: none;
    color: white;
}

em, li {
    font-size: 120%;
}

li {
    display:list-item;
    list-style-position:outside;
    list-style-type: disc;
    line-height: 25px;
}

#weary p, #pills p, #vague p {
border: 2px solid #242323;
border-left: 2px solid #242323;
border-right: 2px solid #242323;
width: 30px;
height: 30px;
align-items: center;
justify-content: center;
display: flex;
flex-direction: row;
margin: 5px 2px;
font-weight: 600;
}

#weary, #pills, #vague {
    max-height: 30px;
    max-width: fit-content;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;

}

#W, #I {
    color: #fff;
    background-color: #04721f;
    border: none;
}

#I {
    color: #fff;
    background-color: #bea609;
    border: none;
}


#vague p {
    color: #fff;
    background-color: #494646;
    border: none;
}

#htp-container {
/* border: 2px solid black; */
max-width: fit-content;
max-height: fit-content;
padding: 30px;
max-width: auto;
display: block;
}


/* media query for screens larger than 440px */

@media screen and (min-width: 440px) {
    #how-to-play, #reset, #mode {
        font-size: 250%;
        padding: 15px;
    }

    h1 img {
        width: 250px;
        height: 75px;
    }

}
